*{
    margin-top: 0px;
    margin-bottom: 5px;
}
.container{
    width:80%;margin:0px auto;
}
body{
    background-image: url("https://images.unsplash.com/photo-1563261438-73168c06ae56?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1349&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}
.name{
    background-color: rgba(137, 43, 226, 0.356);
    border-radius: 5px;
    text-transform: capitalize;
    text-align: center;
    width: 1490px;
}
.pic{
     background-image: url("images/pic1.jpg");
     height: 700px;
     width: 1490px;
     background-size: cover;
}
img{
    width: 1490px;
    position: relative;
    left: 33.33%;
    margin-bottom: 0px;
}
/*color code rgba(137, 43, 226, 0.356);*/
.projects{
    background-color: rgba(245, 222, 179, 0.568);
    text-align: center;
    color:black;
    border-radius: 5px;
    margin-bottom: 0px;
    text-decoration: none;
    width: 1490px;
}
span{
    color: purple;
    text-decoration: none;
}
.title{
    text-align: center;
    background-color:rgba(137, 43, 226, 0.356);
    margin-top: 0px;
    height: 30px;
    text-transform: uppercase;
    padding-top: 5px;
    border-radius: 5px;
    width: 1490px;
}
.projects-description{
    height: 150px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    border: 2px solid blueviolet;
    background-color:rgba(255, 235, 205, 0.534);
    border-radius: 5px;
}
.proj{
    background-color: darkmagenta;
    text-align: center;
    color: white;
    border-radius: 5px;
}
.proj>h4,h5,h6{
    font-size: 20px;
    text-transform: capitalize;
}
.proj>h7{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;  
}
.about{
    height: 150px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    border: 2px solid blueviolet;
    background-color:rgba(255, 235, 205, 0.534);
    border-radius:5px; 
}
.me{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
#about{
    border: 2px solid white;
    border-radius: 5px;
    text-align: center;
    background-color: darkmagenta;
    color: white;
}
#about>h8,h9,h10{
    text-transform: capitalize;
}
.intst{
    height: 160px;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border: 2px solid blueviolet;
    background-color:rgba(255, 235, 205, 0.534);
    border-radius:5px; 
}
.hobbies>p{
    text-transform: uppercase;
}
.skills>P{
     text-transform: uppercase;
}
footer {
    width: 1490px;
    text-align: center;
    padding: 3px;
    background-color: rgba(137, 43, 226, 0.356);
    color: white;
    border: 2px solid  blueviolet;
    border-radius: 6px;
  }
